@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-cyan-400 to-violet-500 bg-clip-text text-transparent;
  }
}
